// Copiar este archivo y crear uno llamado ".env" con el host correcto de la API

// La ip local de la máquina ejecutando el backend
EXPO_PUBLIC_API_URL=http://IP_LOCAL:8080 

// o este para cuando está hosteado
EXPO_PUBLIC_API_URL=https://figuritas.gpadilla.com

// no dejar los dos a la vez, solo uno